body {
    background: linear-gradient(135deg, #000000, #ff00d9);
    background-size: 200% 200%;
    animation: moveGradient 15s ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #ff00f2, #ffffff); /* Angled gradient */
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 5px inset #ffffff;
}

.header {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

.upload-container {
    display: flex; /* Add Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.upload-heading {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 10px; /* Add some margin between the heading and the upload container */
}

.upload {
    background-color: #ef7bfa;
    color: white;
    border: 1px dashed white;
    border-radius: 10px;
    text-align: center;
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 0.9em;
}

.upload:hover {
    background-color: #be2bf8;
    border-color: #ffffff;
}

.graph-container {
    background-color: #f8f9fa; /* Add background color */
    padding: 20px;
    border-radius: 10px;
    border: 5px inset #ddd;
    margin: 10px 0;
}

.dropdown-container {
    background-color: #faf8fa; /* Add background color */
    padding: 20px;
    border-radius: 10px;
    border: 3px inset #ff1cff;
    margin: 10px 0;
}

.dropdownchart-container {
    background-color: #faf8fa; /* Add background color */
    padding: 20px;
    border-radius: 10px;
    border: 3px inset #ff1cff;
    margin: 10px 0;
}

.graph {
    margin: 0; /* Remove default margin */
    border: 5px inset #ff36fc
}

/* styles.css */
/* styles.css */
/* styles.css */
.instructions-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 5px;
    margin-bottom: 0px;
    border: 5px inset #ffffff
}

.instructions-heading {
    color: #000000; /* Adjust the text color */
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}

.instructions-text {
    color: #000000; /* Adjust the text color */
}